<div>
    <h1 nz-typography>Manage users</h1>
</div>

<ul nz-list [nzDataSource]="users" [nzLoading]="!users" nzBordered nzItemLayout="vertical">
    <nz-list-header>
        Sort by: <nz-select>
            <nz-option nzLabel="Username"></nz-option>
            <nz-option nzLabel="Display name"></nz-option>
            <nz-option nzLabel="Regions uploaded"></nz-option>
            <nz-option nzLabel="Regions labeled"></nz-option>
            <nz-option nzLabel="Regions verified"></nz-option>
        </nz-select>
    </nz-list-header>
    <li nz-list-item *ngFor="let item of users; index as i">
        <nz-list-item-meta>
            <nz-list-item-meta-title>
                {{ item.displayName }} <i>({{ item.username }})</i>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
                Authorized to: {{ getUserPermissionString(item) }}
            </nz-list-item-meta-description>
        </nz-list-item-meta>
        <ul nz-list-item-actions>
            <nz-list-item-action>
                <a (click)="openEditUserModal(i)">Edit</a>
            </nz-list-item-action>
        </ul>
        <nz-list-item-extra>
            <nz-row [nzGutter]="8">
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]="1949" nzTitle="Regions uploaded"></nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]="2313" nzTitle="Regions labeled"></nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                    <nz-statistic [nzValue]="243" nzTitle="Regions verified"></nz-statistic>
                </nz-col>
            </nz-row>
        </nz-list-item-extra>
    </li>
    <nz-list-footer>
        <a (click)="openCreateUserModal()">Create a new user</a>
    </nz-list-footer>
</ul>

<app-manage-user-modal #createUserModal title="Create new user" [config]="createModalConfig"
    (submit)="createUser($event)"></app-manage-user-modal>
<app-manage-user-modal #updateUserModal title="Edit user" [config]="updateModalConfig" (submit)="updateUser($event)">
</app-manage-user-modal>