<div>
  <h1 nz-typography>Manage image</h1>
  <p nz-typography>Shortcuts:</p>
  <ul>
    <li>Enter: Add the currently selected region</li>
    <li>Left/right arrow: Next/previous image</li>
    <li>Middle mouse scroll: Zoom</li>
    <li>Middle mouse drag: Translate</li>
  </ul>
</div>

<app-region-selector
  [imageSrc]="imageUrl"
  [regions]="croppedRegionRegions"
  (regionCropped)="onRegionCropped($event)"
  (regionDbClicked)="onRegionDbClicked($event)"
  (regionRightClicked)="onRegionRightClicked($event)"
>
</app-region-selector>

<div
  *ngIf="imageUrl"
  nz-row
  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }"
>
  <div nz-col nzSpan="24" nzMd="8">
    <img
      *ngIf="selectedRegionImage"
      class="uploaded-image"
      [src]="selectedRegionImage"
    />
    <nz-empty
      *ngIf="!selectedRegionImage"
      [nzNotFoundContent]="contentTpl"
    ></nz-empty>
    <ng-template #contentTpl>
      <span>Nothing was selected</span>
    </ng-template>
  </div>
  <div nz-col nzSpan="24" nzMd="16">
    <button
      class="button-tool"
      nz-button
      nzType="primary"
      [disabled]="!selectedRegion"
      (click)="addSelected()"
    >
      <i nz-icon nzType="plus"></i>Add selected
    </button>

    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <div
        *ngFor="let item of croppedRegions; index as i"
        nz-col
        nzSpan="12"
        nzLg="8"
        nzXl="6"
        style="margin-top: 8px; margin-bottom: 8px"
      >
        <nz-card
          style="width: 100%"
          [nzHoverable]="true"
          [nzCover]="coverTemplate"
          [nzActions]="[deleteSetting]"
        >
          <span *ngIf="item.status == 'NotLabeled'">
            <nz-tag nzColor="blue">Not labeled</nz-tag>
          </span>
          <span *ngIf="item.status == 'CantLabel'">
            <nz-tag nzColor="red">Can't be labeled</nz-tag>
          </span>
          <span *ngIf="item.status == 'NotVerified'">
            <nz-tag nzColor="yellow">Labeled</nz-tag>
          </span>
          <span *ngIf="item.status == 'Verified'">
            <nz-tag nzColor="green">Verified</nz-tag>
          </span>
          <br />
          <span
            *ngIf="item.status == 'NotVerified' || item.status == 'Verified'"
            nz-typography
          >
            Labeled by <b>{{ item.labeledBy.displayName }}</b> as
            <b>{{ item.label }}</b
            ><br />
          </span>
          <span *ngIf="item.status == 'CantLabel'" nz-typography>
            Reported by <b>{{ item.labeledBy.displayName }}</b
            ><br />
          </span>
          <span *ngIf="item.status == 'Verified'" nz-typography>
            Verified by <b>{{ item.verifiedBy.displayName }}</b
            ><br />
          </span>
        </nz-card>
        <ng-template #coverTemplate>
          <img
            class="item-thumbnail"
            [src]="croppedRegionImages[i]"
            (click)="regionClicked(i)"
          />
        </ng-template>
        <ng-template #deleteSetting>
          <button nz-button nzDanger (click)="deleteRegion(i)">
            <i nz-icon nzType="delete"></i>
          </button>
        </ng-template>
      </div>
    </div>

    <button
      class="button-tool"
      nz-button
      nzType="primary"
      style="margin-top: 8px"
      [disabled]="croppedRegions.length == 0 || isPublishedStatus()"
      nz-popconfirm
      nzPopconfirmTitle="Publishing this image will allow other people to label and verify its text regions."
      nzOkText="OK"
      nzCancelText="Cancel"
      (nzOnConfirm)="publishImage()"
      [nzLoading]="isPublishing"
    >
      <i nz-icon nzType="check-circle"></i>
      <span *ngIf="!isPublishedStatus()"> Publish this image </span>
      <span *ngIf="isPublishedStatus()"> Published </span>
    </button>
    <button
      class="button-tool"
      nz-button
      nzType="primary"
      nzDanger
      style="margin-top: 8px"
      nz-popconfirm
      nzPopconfirmTitle="Are you sure? Deleting this image will also delete all region extracted from it."
      nzOkText="OK"
      nzCancelText="Cancel"
      (nzOnConfirm)="deleteImage()"
    >
      <i nz-icon nzType="delete"></i>Delete this image
    </button>
  </div>
</div>

<div nz-row nzJustify="space-between" style="margin-top: 16px">
  <button nz-col nz-button (click)="prevImage()">
    Previous<i nz-icon nzType="left"></i>
  </button>
  <button nz-col nz-button (click)="nextImage()">
    <i nz-icon nzType="right"></i>Next
  </button>
</div>

<nz-modal
  *ngIf="modalRegion"
  nzTitle="Region status"
  [nzVisible]="modalRegion"
  [nzClosable]="false"
  [nzCancelText]="Close"
  (nzOnCancel)="closeModal()"
  [nzOkText]="null"
>
  <img class="modal-image" [src]="modalRegionImage" />
  <span *ngIf="modalRegion.status == 'NotLabeled'">
    <nz-tag nzColor="blue">Not labeled</nz-tag>
  </span>
  <span *ngIf="modalRegion.status == 'CantLabel'">
    <nz-tag nzColor="red">Can't be labeled</nz-tag>
  </span>
  <span *ngIf="modalRegion.status == 'NotVerified'">
    <nz-tag nzColor="yellow">Labeled</nz-tag>
  </span>
  <span *ngIf="modalRegion.status == 'Verified'">
    <nz-tag nzColor="green">Verified</nz-tag>
  </span>
  <br />
  <span
    *ngIf="
      modalRegion.status == 'NotVerified' || modalRegion.status == 'Verified'
    "
    nz-typography
  >
    Labeled by <b>{{ modalRegion.labeledBy.displayName }}</b> as
    <b>{{ modalRegion.label }}</b
    ><br />
  </span>
  <span *ngIf="modalRegion.status == 'CantLabel'" nz-typography>
    Reported by <b>{{ modalRegion.labeledBy.displayName }}</b
    ><br />
  </span>
  <span *ngIf="modalRegion.status == 'Verified'" nz-typography>
    Verified by <b>{{ modalRegion.verifiedBy.displayName }}</b
    ><br />
  </span>

  <button
    nz-button
    nzDanger
    nzType="primary"
    (click)="deleteRegion(modalRegionId)"
    style="margin-top: 8px"
  >
    <i nz-icon nzType="delete"></i> Delete this region
  </button>
</nz-modal>

<nz-dropdown-menu #regionContextMenu>
  <ul nz-menu oncontextmenu="return false;">
    <li *ngIf="contextMenuShowAdd" nz-menu-item (click)="addSelected()">
      Add selected
    </li>
    <li nz-menu-item (click)="changeCroppingOption()">
      Change cropping option
    </li>
    <li
      *ngIf="contextMenuRegionId !== -1 && contextMenuRegionId !== null"
      nz-menu-item
      (click)="showModal(contextMenuRegionId)"
    >
      Show region info
    </li>
    <li
      *ngIf="contextMenuRegionId !== -1 && contextMenuRegionId !== null"
      nz-menu-item
      nzDanger
      (click)="deleteRegion(contextMenuRegionId)"
    >
      Delete region
    </li>
  </ul>
</nz-dropdown-menu>
