<div>
    <h1 nz-typography>Manage your image</h1>
</div>
<nz-alert *ngIf="errorMessage" nzType="error" nzMessage="Error" [nzDescription]="errorMessage" nzShowIcon></nz-alert>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div nz-col nzSpan="24" nzMd="12">
        <image-cropper [imageURL]="imageUrl" [maintainAspectRatio]="false" format="png"
            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"></image-cropper>
        <img *ngIf="currentRegion" class="uploaded-image" [src]="currentRegionImage" />
    </div>
    <div *ngIf="displayTools" nz-col nzSpan="24" nzMd="12">
        <button class="button-tool" nz-button nzType="primary" (click)="addSelected()">
            <i nz-icon nzType="plus"></i>Add selected
        </button>
        <div nz-row nzGutter="8">
            <div *ngFor="let item of croppedRegions; index as i " nz-col nzSpan="24" nzLg="12" style="margin-top: 8px;">
                <nz-card style="width:100%;" [nzCover]="coverTemplate" [nzActions]="[deleteSetting]">
                    Anything would be fine
                </nz-card>
                <ng-template #coverTemplate>
                    <img class="item-thumbnail" [src]="item.thumbnailUrl" nz-popover
                        [nzPopoverContent]="fullImageTemplate" />
                </ng-template>
                <ng-template #deleteSetting>
                    <button nz-button nzDanger nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="OK"
                        nzCancelText="Cancel" (nzOnConfirm)="deleteRegion(i)">
                        <i nz-icon nzType="delete"></i>
                    </button>
                </ng-template>
                <ng-template #fullImageTemplate>
                    <img class="item-full-image" [src]="item.imageUrl" />
                </ng-template>
            </div>
        </div>
        <button *ngIf="croppedRegions.length > 0" class="button-tool" nz-button nzType="primary"
            style="margin-top: 8px;" nz-popconfirm
            nzPopconfirmTitle="Are you sure? Deleting this image will also delete all region extracted from it."
            nzOkText="OK" nzCancelText="Cancel" (nzOnConfirm)="deleteImage()">
            <i nz-icon nzType="upload"></i>Delete this image
        </button>
    </div>
</div>