<div>
    <h1 nz-typography>Manage your image</h1>
    <p nz-typography>Click on 4 points on the image to select a text region, and click <b>Add selected</b> to add that
        region</p>
</div>

<app-region-selector *ngIf="imageUrl" [imageSrc]="imageUrl" (imageCropped)="cropped($event)">
</app-region-selector>

<div *ngIf="imageUrl" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div nz-col nzSpan="24" nzMd="8">
        <img *ngIf="selectedRegionImage" class="uploaded-image" [src]="selectedRegionImage" />
        <nz-empty *ngIf="!selectedRegionImage" [nzNotFoundContent]="contentTpl"></nz-empty>
        <ng-template #contentTpl>
            <span>Nothing was selected</span>
        </ng-template>
    </div>
    <div nz-col nzSpan="24" nzMd="16">
        <button class="button-tool" nz-button nzType="primary" [disabled]="!selectedRegion" (click)="addSelected()">
            <i nz-icon nzType="plus"></i>Add selected
        </button>

        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
            <div *ngFor="let item of croppedRegions; index as i " nz-col nzSpan="24" nzMd="12" nzLg="8"
                style="margin-top: 8px; margin-bottom: 8px;">
                <nz-card style="width:100%;" [nzHoverable]="true" [nzCover]="coverTemplate"
                    [nzActions]="[deleteSetting]" (click)="regionClicked(i)">
                    <span *ngIf="item.status == 'NotLabeled'">
                        <nz-tag nzColor="blue">Not labeled</nz-tag>
                    </span>
                    <span *ngIf="item.status == 'CantLabel'">
                        <nz-tag nzColor="red">Can't be labeled</nz-tag>
                    </span>
                    <span *ngIf="item.status == 'NotVerified'">
                        <nz-tag nzColor="yellow">Labeled</nz-tag>
                    </span>
                    <span *ngIf="item.status == 'Verified'">
                        <nz-tag nzColor="green">Verified</nz-tag>
                    </span>
                    <br />
                    <span *ngIf="item.status == 'NotVerified' || item.status == 'Verified'" nz-typography>
                        Labeled by <b>{{ item.labeledBy.displayName }}</b> as <b>{{ item.label }}</b><br />
                    </span>
                    <span *ngIf="item.status == 'CantLabel'" nz-typography>
                        Reported by <b>{{ item.labeledBy.displayName }}</b><br />
                    </span>
                    <span *ngIf="item.status == 'Verified'" nz-typography>
                        Verified by <b>{{ item.verifiedBy.displayName }}</b><br />
                    </span>
                </nz-card>
                <ng-template #coverTemplate>
                    <img class="item-thumbnail" [src]="croppedRegionImages[i]" />
                </ng-template>
                <ng-template #deleteSetting>
                    <button nz-button nzDanger nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="OK"
                        nzCancelText="Cancel" (nzOnConfirm)="deleteRegion(i)">
                        <i nz-icon nzType="delete"></i>
                    </button>
                </ng-template>
            </div>
        </div>

        <button class="button-tool" nz-button nzType="primary" style="margin-top: 8px;"
            [disabled]="croppedRegions.length == 0 || status == 'Published'" nz-popconfirm
            nzPopconfirmTitle="Publishing this image will allow other people to label and verify its text regions."
            nzOkText="OK" nzCancelText="Cancel" (nzOnConfirm)="publishImage()" [nzLoading]="isPublishing">
            <i nz-icon nzType="check-circle"></i>
            <span *ngIf="status != 'Published'">
                Publish this image
            </span>
            <span *ngIf="status == 'Published'">
                Published
            </span>
        </button>
        <button class="button-tool" nz-button nzType="primary" nzDanger style="margin-top: 8px;" nz-popconfirm
            nzPopconfirmTitle="Are you sure? Deleting this image will also delete all region extracted from it."
            nzOkText="OK" nzCancelText="Cancel" (nzOnConfirm)="deleteImage()">
            <i nz-icon nzType="delete"></i>Delete this image
        </button>
    </div>
</div>