<div>
    <h1 nz-typography>Welcome to OCR-Labeling Tool!</h1>
    <p nz-typography>What would you like to do?</p>
</div>
<div nz-row nzJustify="space-around">
    <button routerLink="/upload" nz-col nzSpan="24" nzMd="12" nzLg="8" nz-button nzSize="large" nzType="primary"><i
            nz-icon nzType="upload"></i>Upload an
        image</button>
    <button routerLink="/label" nz-col nzSpan="24" nzMd="12" nzLg="8" nz-button nzSize="large" nzType="primary"><i
            nz-icon nzType="edit"></i>Label text
        regions</button>
    <button routerLink="/verify" nz-col nzSpan="24" nzMd="12" nzLg="8" nz-button nzSize="large" nzType="primary"><i
            nz-icon nzType="search"></i>Verify label
        results</button>
</div>