<div *ngIf="loggedInUser">
        <div>
                <h1 nz-typography>Greeting, {{ loggedInUser.displayName }}</h1>
                <p *ngIf="!noPrivilege" nz-typography>What would you like to do?</p>
                <p *ngIf="noPrivilege" nz-typography>You are not allowed to do anything though...</p>
        </div>
        <button *ngIf="loggedInUser.canUpload" routerLink="/upload" nz-button nzSize="large" nzType="primary"><i nz-icon
                        nzType="upload"></i>Upload an image</button>
        <button *ngIf="loggedInUser.canUpload" routerLink="/my-images" nz-button nzSize="large" nzType="primary"><i
                        nz-icon nzType="appstore"></i>Manage your images</button>
        <button *ngIf="loggedInUser.canManageAllImage" routerLink="/all-image" nz-button nzSize="large"
                nzType="primary"><i nz-icon nzType="appstore"></i>Manage all images</button>
        <button *ngIf="loggedInUser.canLabel" routerLink="/label" nz-button nzSize="large" nzType="primary"><i nz-icon
                        nzType="edit"></i>Label text regions</button>
        <button *ngIf="loggedInUser.canVerify" routerLink="/verify" nz-button nzSize="large" nzType="primary"><i nz-icon
                        nzType="search"></i>Verify label results</button>
        <button *ngIf="loggedInUser.canExport" routerLink="/export" nz-button nzSize="large" nzType="primary"><i nz-icon
                        nzType="export"></i>Export dataset</button>
        <button *ngIf="loggedInUser.canManageUsers" routerLink="/manage-users" nz-button nzSize="large"
                nzType="primary"><i nz-icon nzType="user"></i>Manage Users</button>
</div>