<h1 nz-typography>Upload new image</h1>
<p nz-typography>Upload file(s)</p>
<nz-upload nzType="drag" [nzMultiple]="true" nzAction="/api/upload" (nzChange)="handleChange($event)" [nzSize]="5120"
    nzAccept="image/*">
    <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">Click or drag file(s) to this area to upload</p>
    <p class="ant-upload-hint">
        Only image files are accepted.
    </p>
</nz-upload>
<p nz-typography style="margin-top: 8px;">Upload folder</p>
<nz-upload nzType="drag" [nzDirectory]="true" nzAction="/api/upload" (nzChange)="handleChange($event)" [nzSize]="5120"
    nzAccept="image/*">
    <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">Click or drag a folder to this area to upload</p>
    <p class="ant-upload-hint">
        Every files in the folder will be uploaded, only image files are accepted.
    </p>
</nz-upload>
<ng-template #imageNotification let-data="data">
    <i nz-icon nzType="check-circle" nzTheme="outline" class="image-notification-icon"></i>
    <div nz-typography class="image-notification-title">
        {{ data.title }}
    </div>
    <div nz-typography class="image-notification-description">
        {{ data.description }}
    </div>
    <div class="image-notification-image">
        <img [src]="data.imgSrc" />
    </div>
</ng-template>