<!-- <h2>Review Images </h2> -->
<!-- <nz-card nzHoverable style="width:240px; margin-top: 4px">
  <img style="width: 190px" alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
  <nz-card-meta style="margin-top: 8px" nzTitle="Labeled by Dat as Toan"></nz-card-meta>
  <div style="display:flex; justify-content: center; margin-top: 8px">
    <i nz-icon nzType="check-circle" style="color: green; font-size: 20px;margin-left: 4px"></i>
    <i nz-icon nzType="edit" style="color: red; font-size: 20px;margin-left: 4px;"></i>
  </div>
</nz-card>
<div (click)="deleteHero()" *ngFor="let customer of customers">{{customer.value}}</div>
{{sum}}

 -->

 <!-- <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
  <div
    *ngFor="let item of croppedRegions; index as i"
    nz-col
    nzSpan="12"
    nzLg="8"
    nzXl="6"
    style="margin-top: 8px; margin-bottom: 8px"
  >
    <nz-card
      style="width: 100%"
      [nzHoverable]="true"
      [nzCover]="coverTemplate"
      [nzActions]="[deleteSetting]"
    > -->
      <!-- <span *ngIf="item.status == 'NotLabeled'">
        <nz-tag nzColor="blue">Not labeled</nz-tag>
      </span>
      <span *ngIf="item.status == 'CantLabel'">
        <nz-tag nzColor="red">Can't be labeled</nz-tag>
      </span>
      <span *ngIf="item.status == 'NotVerified'">
        <nz-tag nzColor="yellow">Labeled</nz-tag>
      </span>
      <span *ngIf="item.status == 'Verified'">
        <nz-tag nzColor="green">Verified</nz-tag>
      </span> -->
      <!-- <br />
      <span
        nz-typography
      >
        Labeled by  -->
        <!-- <b>{{ item.labeledBy.displayName }}</b> as
        <b>{{ item.label }}</b> -->
        <!-- <br />
      </span> -->
      <!-- <span *ngIf="item.status == 'CantLabel'" nz-typography>
        Reported by <b>{{ item.labeledBy.displayName }}</b
        ><br />
      </span>
      <span *ngIf="item.status == 'Verified'" nz-typography>
        Verified by <b>{{ item.verifiedBy.displayName }}</b
        ><br />
      </span> -->
    <!-- </nz-card>
    <ng-template #coverTemplate>
      <img
        class="item-thumbnail"
        [src]="item.src"
      />
    </ng-template>
    <ng-template #deleteSetting>
      <button (click)="deleteHero()" nz-button nzDanger>
        <i nz-icon nzType="delete"></i>
      </button>
    </ng-template>
  </div>
</div> -->

<div>
  <h1 nz-typography>Review images</h1>
  <!-- <p nz-typography *ngIf="region">
    Verify if the text in the region is the text in the label (with the correct
    casing). Press <b>Y</b> for <b>Yes</b>, <b>N</b> for <b>No</b>, or press
    <b>Tab</b> to switch to another text region.
  </p> -->
</div>
<nz-empty *ngIf="!region" [nzNotFoundContent]="emptyContent">
  <ng-template #emptyContent>
    <p nz-typography>No text region needs verifying</p>
  </ng-template>
</nz-empty>
<div
  *ngIf="region"
  nz-row
  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }"
>
  <div nz-col [nzSpan]="24" [nzMd]="12">
    <app-zoomable-image
      [imageSrc]="highlightImage"
      [region]="highlightRegion"
    ></app-zoomable-image>
  </div>
  <div nz-col [nzSpan]="24" [nzMd]="12">
    <!-- <span nz-typography id="label"
      ><b>{{ region.label }}</b></span
    > -->
    <input
    id="label-input"
    nz-input
    [nzSize]="large"
    placeholder="..."
    autocomplete="off"
    [(ngModel)]="region.label"
  />
    <br />
    <button nz-button nzType="primary" (click)="submit(true)">Yes</button>
    <!-- <button nz-button nzType="primary" nzDanger (click)="submit(false)">
      Edit
    </button> -->
    <button nz-button nzType="primary" (click)="loadRegion()">
      Switch region
    </button>
  </div>
</div>
