.options {
  margin-bottom: 8px;
}
  
.sort-select {
  width: 100%;
  margin-bottom: 8px;
}
  
.filter-select {
  width: 100%;
  margin-bottom: 8px;
}
  
.reset-filter-button {
  margin-bottom: 8px;
}
  