#region-image {
  width: 100%;
  margin-bottom: 16px;
}

#label-input {
  width: 100%;
  max-width: 400px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-right: 4px;
  margin-bottom: 4px;
}
