<div>
    <h1 nz-typography>Label images</h1>
    <p nz-typography>Tap on an image to start labeling it</p>
</div>
<app-image-grid [images]="images" emptyText="No image need labeled" (imageClicked)="showModal($event)">
</app-image-grid>
<button style="margin-top: 16px; margin-left: auto; margin-right: auto; display: block;" nz-button>Refresh all</button>
<nz-modal *ngIf="selectedRegion" [(nzVisible)]="isVisible" nzTitle="Type in the text in this image"
    [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="hideModal()">
    <ng-template #modalContent>
        <img *ngIf="selectedRegion" style="width: 100%; height: auto;" [src]="selectedRegion.imageUrl" />
        <input style="margin-top: 8px;" nz-input placeholder="Label" [(ngModel)]="selectedLabel" />
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="hideModal()">Cancel</button>
        <button nz-button nzType="primary" nzDanger (click)="submit(false)">Cannot label</button>
        <button nz-button nzType="primary" (click)="submit(true)">Submit</button>
    </ng-template>
</nz-modal>