<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="">
        <img src="assets/image/logo_hust.jpg" width="32" height="auto" alt="logo">
        <h1>OCR-Labeling</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzOpen nzTitle="Label data" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/upload">Upload image</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/upload">Manage uploaded image</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Label text region</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Verify label result</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Account" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Manage account</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Log out</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>