<nz-layout class="app-layout">
  <nz-header class="app-header">
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <a nz-menu-item routerLink="" class="sidebar-logo">
        <img src="assets/image/logo_hust.jpg" width="32" height="auto" alt="logo">
        <h1>OCR-Labeler</h1>
      </a>
      <li nz-submenu nzTitle="Label" nzIcon="edit">
        <ul>
          <li nz-menu-item>
            <a routerLink="/upload">Upload image</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/my-image">My images</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/label">Label texts</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/verify">Verify results</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Account" nzIcon="user">
        <ul>
          <li nz-menu-item>
            <a routerLink="/account">Manage account</a>
          </li>
          <li nz-menu-item>
            <a>Log out</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>