<div>
  <h1 nz-typography>All uploaded image</h1>
  <p nz-typography>Select an image to manage its text regions, or delete it</p>
</div>
<!-- <nz-row nzJustify="start" [nzGutter]="{ md: 8 }" style="margin-bottom: 16px">
  <nz-col nzSpan="24" nzLg="6">
    Sort by <br />
    <nz-select
      id="sort-select"
      [(ngModel)]="selectedSortOption"
      (ngModelChange)="refresh()"
    >
      <nz-option
        *ngFor="let item of sortOptions"
        [nzLabel]="item.label"
        [nzValue]="item.value"
      ></nz-option>
    </nz-select>
  </nz-col>
  <nz-col nzSpan="24" nzMd="12" nzLg="9">
    Filter status <br />
    <nz-select
      [nzMaxTagCount]="1"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Filter image status"
      [(ngModel)]="filteredStatuses"
      class="filter-select"
      (ngModelChange)="refresh()"
    >
      <nz-option
        *ngFor="let item of filterStatusOptions"
        [nzLabel]="item.label"
        [nzValue]="item.value"
      >
      </nz-option>
    </nz-select>
  </nz-col>
  <nz-col nzSpan="24" nzMd="12" nzLg="9">
    Filter uploader <br />
    <nz-select
      [nzMaxTagCount]="2"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Filter uploader"
      [(ngModel)]="filteredUsers"
      class="filter-select"
      (ngModelChange)="refresh()"
    >
      <nz-option
        *ngFor="let item of filterUserOptions"
        [nzLabel]="item.label"
        [nzValue]="item.value"
      >
      </nz-option>
    </nz-select>
  </nz-col>
</nz-row> -->

<app-image-filter-options-selector [filterOptions]="filterOptions" (newOptions)="changeFilterOptions($event)">
</app-image-filter-options-selector>

<ng-template #tagPlaceHolder let-selectedList
  >and {{ selectedList.length }} more</ng-template
>

<!-- <app-image-grid
  [images]="uploadedImages"
  emptyText="You haven't uploaded any image"
  (imageClicked)="onImageClicked($event)"
  (imagesSelected)="onImagesSelected($event)"
  [loading]="loading"
  (contextmenu)="onContextMenu($event)"
>
</app-image-grid> -->
<app-image-grid [images]="images" emptyText="You haven't uploaded any image" [loading]="isLoadingImage" (contextmenu)="onContextMenu($event)" (imageClicked)="onImageClicked($event)"
(imagesSelected)="onImagesSelected($event)">
</app-image-grid>
<div *ngIf="imagesCount" id="pagination">
  <nz-pagination
    [nzPageIndex]="currentPage"
    [nzPageSize]="imagesPerPage"
    [nzTotal]="imagesCount"
    nzShowQuickJumper
    nzShowSizeChanger
    [nzPageSizeOptions]="[12, 24, 60, 120, 240]"
    (nzPageIndexChange)="changePage($event)"
    (nzPageSizeChange)="changePageSize($event)"
  >
  </nz-pagination>
</div>

<nz-dropdown-menu #contextMenu>
  <ul nz-menu>
    <li nz-menu-item nzDanger (click)="showDeleteModal()">
      Delete selected image(s)
    </li>
  </ul>
</nz-dropdown-menu>

<nz-modal
  [(nzVisible)]="isDeleteModalVisible"
  nzTitle="Delete image(s)"
  (nzOnCancel)="onDeleteModalCancel()"
  (nzOnOk)="onDeleteModalOk()"
>
  Are you sure? Deleting images will also delete all region extracted from them.
</nz-modal>
