#sort-select {
  width: 100%;
  margin-bottom: 8px;
}

.filter-select {
  width: 100%;
  margin-bottom: 8px;
}

#pagination {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}
