<div *ngIf="loading">
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</div>
<div *ngIf="!loading">
  <dts-select-container
    [(selectedItems)]="selectedImages"
    (select)="onSelected()"
  >
    <div
      *ngIf="images.length > 0"
      nz-row
      [nzGutter]="{ xs: 8, md: 16, xl: 24, xxl: 32 }"
    >
      <div
        nz-col
        [nzSpan]="24"
        [nzMd]="12"
        [nzLg]="8"
        [nzXl]="6"
        *ngFor="let item of images; index as i"
      >
        <nz-card
          nzSize="small"
          [nzCover]="coverTemplate"
          (dblclick)="onDbClick(i)"
          (contextmenu)="onContextSelect(item)"
          [dtsSelectItem]="item"
        >
          <nz-tag [nzColor]="statusColor(item.status)">
            {{ statusString(item.status) }}
          </nz-tag>
          <p nz-typography>
            Uploaded on {{ dateTimeString(item.uploadedDate) }} by
            <b>{{ item.uploadedBy.displayName }}</b>
          </p>
        </nz-card>
        <ng-template #coverTemplate>
          <img
            style="width: 240px; height: 135px; object-fit: cover"
            [src]="item.thumbnailUrl"
          />
        </ng-template>
      </div>
    </div>
  </dts-select-container>
  <nz-empty *ngIf="images.length == 0"></nz-empty>
</div>
